extends layout

block content
  h1 #{customer}
  ul.list-group
    each customer, i in customers
      li.list-group-item
        a(href='/customer/'+customer._id)= [customer.first_name, customer.last_name]
